
body {
        
        background-color: rgba(105, 240, 141,0.8);
            
        }
h1 {
    
    border-radius: 15px 15px 15px 15px;
    padding: 2%;
    margin-left: 20%; 
    margin-right: 20%;
    
}
    
.backdrop a, a:visited {
    text-decoration: none;
    color:black;
}



.transparentWords {
    
    
    color: white;
    border: 0.1em solid;

    
    

    font-weight: bold;
    font-size: 7em;
    text-align: center;

    padding: 1%;
    margin-left: 20%; 
    margin-right: 20%;

    
    
    background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);

    
    
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    
}

.backdrop {

    background-image: url("../image/kartka.png");
    border-radius: 15px 15px 15px 15px;
    margin-left: 20%; 
    margin-right: 20%;
}

.text {

    text-align: center;

    font-size: 2em;
    padding: 2%;
    word-spacing: 2em;
    font-family: cursive;
}

.noto {
    color: white;
    font-weight: bold;
    background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);

    
    
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.number {
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.notes {

    background-image: url("../image/kartka.png");
    border-radius: 15px 15px 15px 15px;
   

    height: 500px;
    width: 200px;
    overflow-y: auto;
    overflow-x: hidden; 
}

ol {
    padding: 5%;
}
li {
    margin: 1%;
}
