body {
        	background-image: url("tost.png");
        }

h1 {
	background-color: white;
	border-radius: 15px 0px 0px 15px;
	padding: 20px;
	font-weight: bold;
    font-size: 5em;
    text-align: center;
    text-shadow: 2px 2px 3px black, 0 0 30px blue, 0 0 10px;
    }
.transparentWords {
	opacity: 0.0;

}
